.header {
    height: 220px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.header h1 {
    padding-top: 35px;
    font-size: 72px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    color: 	blue;
    text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;
}

.header p {
    font-size: 26px;
    color: 	blue;
    text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;
}

@media all and (max-width: 800px) { 
    .header {
        height: 180px;
    }
    .header h1 {
        padding-top: -40px;
        font-size: 60px; 
    }
    .header p {
        font-size: 24px;
    }
}

@media all and (max-width: 650px) { 
    .header {
        height: 100px;
    }
    .header h1 {
        font-size: 48px;
    }
    .header p {
        font-size: 20px;
    }
}